@model MiPacienteSeguro.Web.Areas.Seguridad.Models.UsuarioRoles

@{
    ViewBag.Title = "AsignarRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AsignarRoles</h2>

<div>
    @Html.DisplayFor(m => m.Usuario.NombreUsuario);
    <p>
        @Model.Usuario.NombreUsuario
    </p>

</div>

    @using (Html.BeginForm())
    {
        <fieldset>
            @foreach (var rol in Model.Roles)
            {
                @Html.CheckBox(rol.Key.Nombre, rol.Value)
                @Html.Label(rol.Key.Nombre)
                <br />
            }
            <input type="submit" value="Guardar" />
        </fieldset>
    }
        